@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.container__header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2F4DAA;
    padding: 10px;
}

.logo {
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 200px;
    height: 120px;
}

.list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list > li {
    margin-left: 20px;
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list > li > a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.session {
    color: #ffffff;
    font-size: 20px;
    position: relative;
}

.sesion_list {
    display: none;
    position: absolute;
    list-style: none;
    z-index: 10;
}

.sesion_list > li {
    transform: translateY(85px);
    border-bottom: solid 1px #fff;
    text-align: center;
    background-color: #7FA9F3;
    width: 150px;
}

.sesion_list > li > a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.sesion_list > li:hover {
    background-color: #668BCB;
}

.session:hover > .sesion_list {
    display: block;
}

/* Body */

.first-section {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 10% 10%;
}

.fs-fst__element {
    position: absolute;
    top: 10%;
    width: 40%;
    height: 630px;
    padding: 10px;
}

.fs-fst__element > h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2F4DAA;
}

.fs-fst__element > p {
    font-size: 20px;
    margin-bottom: 20px;
}

.section__img1 > img {
    width: 100%;
    height: 300px;
}

.fs-snd__element {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 40%;
    height: 630px;
    padding: 10px;
}

.section__img2 > img {
    width: 100%;
    height: 300px;
}

.section__img3 > img {
    width: 100%;
    height: 300px;
}

.second-section {
    display: inline-block;
    width: 100%;
}

.sd-fst__element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sd_block > h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2F4DAA;
    text-align: center;
}

.solutions {
    padding: 3% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px 20px;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
    ". . .";
}

.element_solution > img {
    display: inline-block;
    position: relative;
    height: 15px;
    top: 1.5px;
}

.element_solution > h4 {
    display: inline-block;
}

.sd_block2 > h2 {
    font-size: 40px;
    font-weight: bold;
    background-color: #2F4DAA;
    text-align: center;
    color: #fff;
}

.contactanos {
    background-color: #2F4DAA;

    padding: 2% 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.bloque {
    width: 100%;
    padding: 10px 30px;
    display: grid;
    place-items: center;
}

.bloque > h4 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.bloque > p {
    color: #fff;
    font-size: 18px;
}

.telefono {

}

.correo {
}

.direccion {
}

.horario {
}
